@charset "utf-8";

.chatbot{
  margin-top:50px;
}
.chatbot > h2{
  font-weight: bold;
  text-align: center;
  margin-bottom:50px;
}
#chatlog{
  background-color: var(--t-color3);
  color:var(--t-color1);
  width:100%;
  border-radius: var(--b-radius1);
  padding:30px 15px;
  line-height: 24px;
  font-size: var(--t-size3);
  flex-direction: column;
}
.bubble{
  width:70%;
  box-shadow: 0 0 0 3px var(--bg-color1) inset;
  border-radius: var(--b-radius1);
  margin-bottom:10px;
  padding:10px;
}
.bubble:nth-child(2n+1){
  background-color: var(--bg-color1);
  color:var(--t-color3);
  position: relative;
}
.bubble:nth-child(2n+1)::after{
  position: absolute;
  top:40%;
<<<<<<< Updated upstream
  left:-12%;
=======
  left:-5%;
>>>>>>> Stashed changes
  content:'';
  display: block;
  width: 0px;
  height: 0px;
<<<<<<< Updated upstream
  border-bottom: 15px solid var(--bg-color1);
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
=======
  border-bottom: 5px solid var(--bg-color1);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
>>>>>>> Stashed changes
  transform: rotate( -90deg );
}
.bubble:nth-child(2n){
  position: relative;
  left:30%;
  background-color: var(--t-color3);
  color:var(--bg-color1);
<<<<<<< Updated upstream
=======
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow:hidden;
>>>>>>> Stashed changes
}
.bubble:nth-child(2n) p::before{
  position: absolute;
  top:40%;
<<<<<<< Updated upstream
  right:-12%;
  content:'';
  width: 0px;
  height: 0px;
  border-bottom: 15px solid var(--bg-color1);
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
=======
  right:-5%;
  content:'';
  width: 0px;
  height: 0px;
  border-bottom: 5px solid var(--bg-color1);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
>>>>>>> Stashed changes
  transform: rotate( 90deg );
}