@charset "utf-8";
.slide_list > h2{
  margin:50px 0 30px;
  text-align: center;
  font-weight: bold;
}
.slide_wrap{
  width:100%;
  height:150px;
  margin-bottom: 50px;
}
.slide{
  position: absolute;
  width:250px;
  height:150px;
  z-index: 1;
}
.slide_wrap > div:nth-child(2){
  transform: translateX(25%);
  z-index: 0;
}
.slide_wrap > div:last-child{
  transform: translateX(45%);
  z-index: -1;
}