@charset "utf-8";

.slide_list{
  overflow: hidden;
}
.slide_list > h2{
  margin:50px 0 30px;
  text-align: center;
}
/* 스와이퍼슬라이드 */
.mySwiper{
  text-align: center;
}
/* 클래스리스트 컨텐츠 카드-설명 */
.list_cont .cards{
  margin:0px;
}
.c_desc{
  color:var(--t-color1);
  font-size: var(--t-size3);
}
/* 클래스 강의 하단부 버튼서식 */
.list_btn{
  justify-content: space-between;
  align-items: center;
  margin-top:20px;
}
.list_btn svg{
  width:25px;
  height:25px;;
  color:var(--bg-color1);
  margin-right:15px;
}
.list_btn > button{
  width:110px;
  height:40px;
  background-color: var(--bg-color1);
  color:var(--t-color3);
  border:none;
  border-radius: var(--b-radius1);
  font-size: var(--t-size4);
}
/* 클래스 컨텐츠 탭메뉴서식 */
.list_tab{
  margin:40px 0px 10px;
  padding:10px 0px;
  border-bottom:1px solid var(--bg-color1);
  justify-content: space-between;
  align-items: center;
}
.list_tab > strong{
  font-size: 24px;
  font-weight: bold;
}
/* 클래스 컨텐츠 셀렉트옵션 서식 */
.list_op{
  font-size: var(--t-size1);
}
.list_op > li{
  padding:0px 15px;
}
.list_op > li:not(:last-child){
  border-right:1px solid var(--bg-color2);
}
.select_wrap{
  text-align: end;
  margin-bottom:10px;
}
.list_select{
  width:75px;
  height:30px;
  border-radius: var(--b-radius1);
  font-weight: bold;
}
/* 상세보기 서식 */
#class_view {
  margin-top: 50px;
}
#class_view article h3 {
  font-size: var(--t-size1);
}

#class_view article h3 span {
  color: var(--bg-color2);
  margin-right: 15px;
}

#class_view article:first-of-type h3 {
  border-bottom: 1px solid var(--bg-color1);
  padding-bottom: var(--b-margin2);
}

#class_view .cinfo_wrap {
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

#class_view .cinfo_const .const {
  margin-right: 15px;
  padding-left: 35px;
}
#class_view .cinfo_const .const img {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#class_view .cinfo_const .const p {
  color: var(--bg-color1);
  line-height: 18px;
  text-align: center;
  padding-top: 10px;
}
#class_view .cinfo_wrap .cinfo_detail {
  width: 210px;
}

#class_view .cinfo_wrap .cinfo_detail div {
  justify-content: space-between;
}

#class_view .cinfo_wrap .cinfo_detail p {
  line-height: 24px;
  font-size: 12px;
}

#class_view .cinfo_wrap .cinfo_detail p:first-child {
  color: var(--bg-color3);
}

#class_view .class_cont {
  margin-top: 15px;
  border-top: 1px solid var(--bg-color1);
  padding-top: 15px;
}

#class_view .class_cont h3 {
  font-size: var(--t-size2);
  color: var(--bg-color1);
}

#class_view .class_cont .class_cond {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

#class_view .class_cont .class_cond label {
  margin-right: 15px;
  padding-bottom: 5px;
}

#class_view .class_cont div {
  align-items: center;
}

#class_view .class_cont svg {
  width: 25px;
  height: 25px;
  color: var(--bg-color1);
}


#class_view .class_cont .zzim_btn {
  border: none;
  background: none;
}

#class_view .class_cont .class_desc {
  font-size: var(--t-size3);
  line-height: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--bg-color1);
}

#class_view .class_cont .pay {
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

#class_view .class_cont .pay p {
  font-size: var(--t-size1);
}

#class_view .class_cont .pay p span {
  color: var(--bg-color1);
}

#class_rel {
  margin-top: 50px;
}
#class_rel .class_rel_t {
  font-size: 20px;
}

#class_rel .class_rel_p {
  color: var(--bg-color1);
  margin-top: 15px;
}

#class_rel article {
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

#class_rel article div p {
  text-align: center;
  line-height: 24px;
  font-size: var(--t-size3);
}