@charset "utf-8";

/* 마이클래스 상단 서식 */

#my_class .myclass_top {
  margin-top: 50px;
  padding: var(--b-margin1) 0px var(--b-margin1) 0px;
  border-top: 1px solid var(--bg-color1);
  border-bottom: 1px solid var(--bg-color1);
}

#my_class .myclass_top .profile_img {
  width: 100px;
  height: 100px;
  border: 2px solid var(--bg-color1);
  display: block;
  border-radius: 50%;
  margin-left: 25px;
}

#my_class .myclass_top .info_top {
  margin-top: 5px;
  margin-right: 35px;
}

#my_class .myclass_top .info_top p {
  margin: 0px 10px 0px auto;
  font-size: var(--t-size1);
  text-align: center;
}

#my_class .myclass_top .info_top p span {
  font-size: var(--t-size2);
  padding-right: 10px;
}

#my_class .myclass_top .info_top a {
  font-size: 20px;
  color: var(--bg-color3);
}

#my_class .myclass_top .info_bottom {
  padding-left: 58px;
  padding-top: var(--b-margin3);
}

#my_class .myclass_top .info_bottom div {
  text-align: center;
  padding-right: 20px;
}

#my_class .myclass_top .info_bottom div a {
  color: var(--bg-color1);
  line-height: var(--t-size2);
}

#my_class .myclass_top .info_bottom div p:last-child {
  color: var(--bg-color1);
  line-height: var(--t-size2);
}

/* 마이페이지 탭메뉴 */

#mypage_tab {
  margin-top: 50px;
  margin-bottom: 15px;
}

#mypage_tab p, #mypage_tab ul li {
  font-size: var(--t-size1);
}

#mypage_tab p, #mypage_tab ul li:first-child {
  margin-right: 10px;
}

#mypage_tab ul li a {
  color: var(--bg-color3);
}

#myclass_rec h3 {
  margin-bottom: 15px;
  font-size: var(--t-size1);
}

#myclass_rec article {
  margin: 0;
  margin-left: 15px;
  overflow: hidden;
}

#myclass_rec article .myclass_recc {
  margin-right: 10px;
}

#myclass_rec article .myclass_recc p {
  line-height: 24px;
}





