@charset "utf-8";

/* 로그인서식 */
.login_wrap{
  margin:0 auto;
}
.l_form{
  flex-direction: column;
  margin-bottom:50px;
}
.l_form legend{
  padding:50px 0px;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
.l_form input[type=text]{
  margin-bottom: 10px;
}
.l_form input[type=text],
.l_form input[type=password]{
  min-width: 300px;
  height:50px;
  border-radius: var(--b-radius1);
  text-indent:10px;
  color:var(--bg-color2);
  font-size: var(--t-size1);
}
.log_check{
  margin-top:5px;
  min-width:300px;
  height:30px;
  line-height: 30px;
  align-items: center;
  justify-content: space-between;
  color:var(--bg-color3);
}
.log_check span{
  padding:0px 5px;
}
.l_form > strong{
  margin:50px 0 30px;
  /* font-weight: bold; */
  text-decoration: underline;
}
.log_btn{
  background-color: var(--bg-color1);
  color:var(--t-color3);
  border:none;
  margin-bottom:10px;
  min-width:300px;
  height:45px;
  border-radius: var(--b-radius1);
}
.log_kakao{
  min-width:300px;
  border-radius: 12px;
}

.register h2 {
  margin: 50px 0px;
  text-align: center;
}

.register article h3 {
  font-size: var(--t-size1);
  padding-bottom: 15px;
  border-bottom: 3px solid var(--bg-color1);
  position: relative;
}

.register article h3 .terms {
  margin-top: 15px;
  color: var(--t-color1);
  font-weight: bold;
  text-indent: 10px;
  font-size: var(--t-size3);
  background: var(--t-color3);
  padding: 30px 0px;
}

.register article h3 svg {
  position: absolute;

  right: 0px;
}

.register article form {
  width: 100%;
}

.register article form .okay {
  padding: 30px 0px;
  border-bottom: 3px solid var(--bg-color1);
  margin-bottom: 15px;
}

.register article form .okay p {
  align-items: center;
}

.register article form .okay input[type=checkbox], .register article form .allokay input[type=checkbox] {
  margin-right: 10px;
  height: 20px;
  width: 20px;
  border-radius: 40%;
  appearance: none;
  cursor: pointer;
  background: #fff;
}


.register article form .okay input[type=checkbox]:checked, .register article form .allokay input[type=checkbox]:checked {
  background: var(--bg-color1);
}

.register article form .okay p:first-child {
  margin-bottom: 15px;
}

.register article form .allokay {
  align-items: center;
  color: var(--bg-color1);
  padding-bottom: 35px;
}

.register article form .register_wrap input, .register article form .register_wrap select {
  width: 91.6%;
  display: block;
  line-height: 50px;
  border-radius: 8px;
  height: 50px;
  border: none;
  margin: 15px auto;
  text-indent: 10px;
  color: var(--bg-color3);
}

.register article form .register_wrap .r_btn {
  color: var(--t-color3);
  background: var(--bg-color1);
  font-weight: bold;
  margin-bottom: 35px;
  font-size: var(--t-size1);
}

/* 회원정보수정 */

.register article .member_img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 2px solid var(--bg-color1);
  margin: 0px auto;
  display: block;
}

.register article p span {
  font-size: var(--t-size1);
  padding-right: 3px;
  font-weight: bold;
  color: var(--bg-color1);
}

.register article .img_update {
  padding: 30px 0px 15px 0px;
  position: relative;
}

.register article #memebr_img {
  display: none;
}

.register article .img_update label svg {
  position: absolute;
  bottom: 15px;
  left: 60%;
  width: 30px;
  height: 30px;

} 
